:root {
  --dark: #002395;
  --light: #496598;
  --bleak: gray;
}

html {
  font-family: Roboto;
}

main {
  margin: 0 auto;
  max-width: 80ch;
}

.footer {
  margin-top: 1em;
}

code {
  font-family: "Fira Code";
  border-style: dotted;
  border-width: thin;
}

blockquote {
  background: #f9f9f9;
  border-left: .5em solid var(--light);
  margin: 1em;
  padding: .5em;
}

blockquote p {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--light);
}

.center {
  text-align: center;
}

.monospaced,
time,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono";
}

.article-ol>time {
  float: right;
}

.imperial-blue {
  color: var(--dark);
}

.fa-icon {
  color: var(--bleak);
}

.material-symbols-rounded {
  font-size: 1.3em;
  color: var(--bleak);
  vertical-align: bottom;
}

a>.material-symbols-rounded {
  color: var(--light);
}

ul {
  padding: 0 2ch;
}

img {
  max-width: 100%;
  height: auto;
}
