{{- /* Footer teaser for /taste: the two main crests plus a link to the rest. */ -}}
<span class="badges">
  {{- range slice
    (dict "file" "manchester-city.svg" "name" "Manchester City")
    (dict "file" "bayern-munich.svg" "name" "Bayern Munich")
  -}}
    <a href="/taste/" class="badge" title="{{ .name }}">
      <img
        src="/crests/{{ .file }}"
        alt="{{ .name }}"
        loading="lazy"
        decoding="async"
        width="30"
        height="30"
      />
    </a>
  {{- end -}}
  <a href="/taste/" class="badges-link">all of it &rarr;</a>
</span>
