baseURL = 'https://kirillbobyrev.com/'
enableEmoji = true
enableRobotsTXT = true
languageCode = 'en'
title = 'Kirill Bobyrev'
disableKinds = ['taxonomy', 'term']
enableGitInfo = true

[params]
  description = 'software engineering blog by Kirill Bobyrev'
  images = ['images/twitter.png']
  keywords = [
    'software engineering',
    'programming',
    'machine learning',
    'tech blog',
  ]
  [params.author]
    name = 'kirill bobyrev'
  [params.social]
    twitter = 'kirillbobyrev'
    github = 'kirillbobyrev'
    linkedin = 'kirillbobyrev'
    instagram = 'cybobyrev'

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    noClasses = true
    tabWidth = 2
    style = 'github'
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]

[services]
  [services.googleAnalytics]
    id = 'G-RHCZGDQQJR'

[sitemap]
  changefreq = 'weekly'
