{{ define "main" }}
<section class="notes-list">
  {{ if .Content }}
  <div class="section-content">
    {{ .Content }}
  </div>
  {{ end }}

  <ul class="notes-feed">
    {{ $pagePermalink := .Permalink }}
    {{ $notePages := .Pages.ByDate.Reverse }}
    {{ $totalNotes := len $notePages }}
    {{ range $index, $note := $notePages }}
    <li id="note-{{ sub $totalNotes $index }}" class="note-item">
      <div class="note-header">
        <a href="{{ $pagePermalink }}/#note-{{ sub $totalNotes $index }}" class="note-number" aria-label="Note {{ sub $totalNotes $index }}">{{ sub $totalNotes $index }}</a>
        <time class="note-date" datetime="{{ .Date.Format "2006-01-02 15:04" }}">
          {{ .Date.Format "2006-01-02 15:04" }}
        </time>
        {{ if .Title }}
        <h3 class="note-title">{{ .Title }}</h3>
        {{ end }}
      </div>
      <div class="note-content">
        {{ .Content }}
      </div>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
