{{- /* Football colours: club crests + national-team crests + competition logos. */ -}}
{{- /* Crest SVGs are committed to static/crests/. */ -}}
{{- $clubs := slice
  (dict "file" "manchester-city.svg" "name" "Manchester City")
  (dict "file" "bayern-munich.svg" "name" "Bayern Munich")
  (dict "file" "liverpool.svg" "name" "Liverpool")
  (dict "file" "chelsea.svg" "name" "Chelsea")
-}}
{{- $nationals := slice
  (dict "file" "england.svg" "name" "England")
  (dict "file" "norway.svg" "name" "Norway")
  (dict "file" "germany.svg" "name" "Germany")
-}}
<span class="badges">
  {{- range $clubs -}}
    <span class="badge" title="{{ .name }}">
      <img
        src="/crests/{{ .file }}"
        alt="{{ .name }}"
        loading="lazy"
        decoding="async"
        width="25"
        height="25"
      />
    </span>
  {{- end -}}
  <span class="badge-sep" aria-hidden="true"></span>
  {{- range $nationals -}}
    <span class="badge" title="{{ .name }}">
      <img
        src="/crests/{{ .file }}"
        alt="{{ .name }}"
        loading="lazy"
        decoding="async"
        width="25"
        height="25"
      />
    </span>
  {{- end -}}
  <span class="badge-sep" aria-hidden="true"></span>
  {{- range $competitions -}}
    <span class="badge" title="{{ .name }}">
      <img
        src="/crests/{{ .file }}"
        alt="{{ .name }}"
        loading="lazy"
        decoding="async"
        width="25"
        height="25"
      />
    </span>
  {{- end -}}
</span>
