{{- /* Football colours: club crests + national-team flags. */ -}}
{{- /* Crests are stored in static/crests (committed to the repo). */ -}}
{{- /* Flags are inlined from assets/badges (flag-icons, MIT licence). */ -}}
{{- $clubs := slice
  (dict "file" "manchester-city.png" "name" "Manchester City")
  (dict "file" "bayern-munich.png" "name" "Bayern Munich")
  (dict "file" "liverpool.png" "name" "Liverpool")
  (dict "file" "chelsea.png" "name" "Chelsea")
  (dict "file" "barcelona.png" "name" "Barcelona")
-}}
{{- $flags := slice
  (dict "file" "gb-eng.svg" "name" "England")
  (dict "file" "no.svg" "name" "Norway")
  (dict "file" "de.svg" "name" "Germany")
  (dict "file" "es.svg" "name" "Spain")
-}}
<span class="badges">
  {{- range $clubs -}}
    <span class="badge" title="{{ .name }}">
      <img
        src="/crests/{{ .file }}"
        alt="{{ .name }}"
        loading="lazy"
        decoding="async"
        height="25"
      />
    </span>
  {{- end -}}
  <span class="badge-sep" aria-hidden="true"></span>
  {{- range $flags -}}
    {{- $name := .name -}}
    {{- with resources.Get (printf "badges/%s" .file) -}}
      <span class="badge badge-flag" title="{{ $name }}"
        >{{ .Content | safeHTML }}</span
      >
    {{- end -}}
  {{- end -}}
</span>
