<header class="site-header">
  <div class="ascii-header">
    <pre>
██╗  ██╗██╗██████╗ ██╗██╗     ██╗         ██████╗  ██████╗ ██████╗ ██╗   ██╗██████╗ ███████╗██╗   ██╗
██║ ██╔╝██║██╔══██╗██║██║     ██║         ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝██╔══██╗██╔════╝██║   ██║
█████╔╝ ██║██████╔╝██║██║     ██║         ██████╔╝██║   ██║██████╔╝ ╚████╔╝ ██████╔╝█████╗  ██║   ██║
██╔═██╗ ██║██╔══██╗██║██║     ██║         ██╔══██╗██║   ██║██╔══██╗  ╚██╔╝  ██╔══██╗██╔══╝  ╚██╗ ██╔╝
██║  ██╗██║██║  ██║██║███████╗███████╗    ██████╔╝╚██████╔╝██████╔╝   ██║   ██║  ██║███████╗ ╚████╔╝ 
╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝    ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚══════╝  ╚═══╝  
</pre
    >
  </div>
  <nav class="site-nav" aria-label="Primary navigation">
    <menu class="nav-menu">
      <li><a href="/" class="nav-link">Home</a></li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}" class="nav-link">{{ .Name }}</a></li>
      {{ end }}
    </menu>
  </nav>
  <hr />
</header>
