{{ define "main" }}
  <article class="main-content">
    {{ with .Content }}
      {{ . }}
    {{ end }}


    <section aria-label="Lists" class="lists-index mt-8">
      {{ $lists := .Pages }}
      {{ if not .Params.sortByDate }}
        {{ $lists = .Pages.ByTitle }}
      {{ end }}

      {{ range $lists }}
        {{ if not .Params.draft }}
          <article class="mb-6">
            <header>
              <h2 class="blog-post-title">
                <a href="{{ .RelPermalink }}" class="blog-post-link">
                  {{ .Title }}
                </a>
              </h2>
            </header>
            {{ with .Description }}
              <p>{{ . }}</p>
            {{ end }}
          </article>
        {{ end }}
      {{ end }}
    </section>
  </article>
{{ end }}
