:root {
  /* Imperial Blue */
  --dark: #002395;
  --light: #496598;
  --bleak: gray;
}

html {
  font-family: Roboto;
}

main {
  margin: 0 auto;
  max-width: 100ch;
}

.footer {
  margin-top: 1em;
}

/* TODO: This needs better styling to look good inline and also be separated from
 * the rest */
code {
  font-family: "Roboto Mono";
}

blockquote {
  background: #f9f9f9;
  border-left: .3em solid var(--light);
  padding: .5em;
}

blockquote p {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--light);
}

.center {
  text-align: center;
}

.monospaced,
time {
  font-family: "Roboto Mono";
}

.article-ol > time {
  float: right;
}

.fa-icon {
  color: var(--bleak);
}

ul {
  padding: 0 2ch;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

.navbar {
  font-size: 1.3em;
  font-weight: bolder;
}
