html {
  font-family: system-ui, "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 80ch;
}

.center {
  text-align: center;
}

.footer {
  margin-top: 2ch;
}

a {
  text-decoration: none;
}

time {
  font-family: ui-monospace, "Roboto Mono";
}

.mono {
  font-family: ui-monospace, "Roboto Mono";
  font-weight: bold;
}

code {
  font-family: "Fira Code";
}
