html {
  font-family: system-ui, "Roboto", sans-serif;
}

main {
  margin-left: 1ch;
  margin-right: 1ch;
  margin: 0 auto;
  width: 600px;
}

.center {
  text-align: center;
}

.footer {
  margin-top: 2ch;
}

a {
  text-decoration: none;
}

time {
  font-family: ui-monospace, "Roboto Mono";
}

.mono {
  font-family: ui-monospace, "Roboto Mono";
  font-weight: bold;
}
