<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <!--TODO: Add head, body, footer from HTML5: https://ru.code-basics.com/languages/html/modules/semantics/lessons/semantic-elements-->
    <!--TODO: Also: https://css-tricks.com/snippets/html/html5-page-structure/-->
    <div class="header">
      {{- partial "header.html" . -}}
    </div>
    <main role="main">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
