<figure class="figure-block">
  {{- if .Get "src" -}}
    <img
      src="{{ .Get "src" }}"
      alt="{{ .Get "alt" | default (.Get "caption") }}"
      {{ with .Get "width" }}width="{{ . }}"{{ end }}{{ with .Get "height" }}
        height="{{ . }}"
      {{ end }}
    />
  {{- end -}}
  {{- if .Inner -}}
    <figcaption class="figure-caption">{{ .Inner | markdownify }}</figcaption>
  {{- else if .Get "caption" -}}
    <figcaption class="figure-caption">
      {{ .Get "caption" | markdownify }}
    </figcaption>
  {{- end -}}
</figure>
