{{- define "main" -}}
  <article class="main-content">
    <header class="article-header">
      <h1>{{ .Title }}</h1>
      {{- if .Date -}}
        <div class="article-meta">
          <time class="article-date" datetime="{{ .Date.Format "2006-01-02" }}"
            >{{ .Date.Format "January 2, 2006" }}</time
          >
        </div>
      {{- end -}}
    </header>
    <div class="prose post-body">{{ .Content }}</div>
    <nav class="post-nav" aria-label="Post">
      <a href="/blog/" class="post-nav-link"
        >{{ partial "icon.html" (dict "name" "arrow-left" "size" 14) }}Writing</a
      >
    </nav>
  </article>
{{- end -}}
